<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProfile</servlet-name>
        <servlet-class>.CustomerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CProfile</servlet-name>
        <servlet-class>Customer.CProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CusProfile</servlet-name>
        <servlet-class>Customer.CusProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustProfile</servlet-name>
        <servlet-class>Customer.CustProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GymForm</servlet-name>
        <servlet-class>Customer.GymForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exercise</servlet-name>
        <servlet-class>Customer.Exercise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DietPlan</servlet-name>
        <servlet-class>Customer.DietPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bill</servlet-name>
        <servlet-class>Customer.Bill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Customer.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <servlet-class>Admin.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Member</servlet-name>
        <servlet-class>Admin.Member</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMember</servlet-name>
        <servlet-class>Admin.DeleteMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMember</servlet-name>
        <servlet-class>Admin.AddMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Membership</servlet-name>
        <servlet-class>Admin.Membership</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Membership2</servlet-name>
        <servlet-class>Admin.Membership2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payslip</servlet-name>
        <servlet-class>Admin.Payslip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trainer</servlet-name>
        <servlet-class>Admin.Trainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTrainer</servlet-name>
        <servlet-class>Admin.AddTrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTrainer</servlet-name>
        <servlet-class>Admin.DeleteTrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>Customer.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment2</servlet-name>
        <servlet-class>Customer.Payment2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>Customer.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Customer.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bill2</servlet-name>
        <servlet-class>Customer.Bill2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout1</servlet-name>
        <servlet-class>Admin.Logout1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Equipment</servlet-name>
        <servlet-class>Admin.Equipment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTrainer</servlet-name>
        <servlet-class>Admin.EditTrainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEquipment</servlet-name>
        <servlet-class>Admin.DeleteEquipment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEquipment</servlet-name>
        <servlet-class>Admin.EditEquipment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEquipment</servlet-name>
        <servlet-class>Admin.AddEquipment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminContact</servlet-name>
        <servlet-class>Admin.AdminContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reply</servlet-name>
        <servlet-class>Admin.Reply</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProfile</servlet-name>
        <url-pattern>/CustomerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CProfile</servlet-name>
        <url-pattern>/CProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CusProfile</servlet-name>
        <url-pattern>/CusProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustProfile</servlet-name>
        <url-pattern>/CustProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GymForm</servlet-name>
        <url-pattern>/GymForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exercise</servlet-name>
        <url-pattern>/Exercise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DietPlan</servlet-name>
        <url-pattern>/DietPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bill</servlet-name>
        <url-pattern>/Bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Member</servlet-name>
        <url-pattern>/Member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMember</servlet-name>
        <url-pattern>/DeleteMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMember</servlet-name>
        <url-pattern>/AddMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Membership</servlet-name>
        <url-pattern>/Membership</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Membership2</servlet-name>
        <url-pattern>/Membership2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payslip</servlet-name>
        <url-pattern>/Payslip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trainer</servlet-name>
        <url-pattern>/Trainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTrainer</servlet-name>
        <url-pattern>/AddTrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTrainer</servlet-name>
        <url-pattern>/DeleteTrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment2</servlet-name>
        <url-pattern>/Payment2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bill2</servlet-name>
        <url-pattern>/Bill2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout1</servlet-name>
        <url-pattern>/Logout1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Equipment</servlet-name>
        <url-pattern>/Equipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTrainer</servlet-name>
        <url-pattern>/EditTrainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEquipment</servlet-name>
        <url-pattern>/DeleteEquipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEquipment</servlet-name>
        <url-pattern>/EditEquipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEquipment</servlet-name>
        <url-pattern>/AddEquipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminContact</servlet-name>
        <url-pattern>/AdminContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reply</servlet-name>
        <url-pattern>/Reply</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
